.buttons {
    display: flex;
    justify-content: center;
}

.card_container {
    display: flex;
    justify-content: center;
}

.total {
    cursor: context-menu;
    text-align: center;
    font-weight: bold;
    color: #0a5daf;
}